        <div class="wrap">

            <section class="footer-links">
                <ul class="footer-links_primary cf">
                    <li>
                        <a href="http://github.com/heidsoft">github.com/heidsoft</a>
                    </li>
                </ul>
                <ul class="footer-links_secondary cf">
                    <li>
                        <a href="http://heidsoft.github.io/articles/introducing-heidsoft-open-tech/">About</a>
                    </li>
                    <li>
                        <a href="mailto:heidsoft@sina.com">Contact HeidSoft</a>
                    </li>
                </ul>
                <ul class="footer-links_social cf">
                    <li>
                        <a class="icon-fallback-text" href="http://github.com/heidSoft">
                            <i class="icon icon-github-alt" aria-hidden="true"></i>
                            <span class="text">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a class="icon-fallback-text" href="http://twitter.com/heidSoft">
                            <i class="icon icon-twitter-alt" aria-hidden="true"></i>
                            <span class="text">Twitter</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#"><i class="icon-rss-alt">RSS Feed</i></a>
                    </li> -->
                </ul>
            </section>

            <section class="footer-oss">
                <h4>Open Source</h4>
                <p>
                   HeidSoft 关注云计算与大数据的学习与应用
                </p>
                <a class="call-to-action__arrow"
                   href="/source-code-policy/">
                    我的故事
                </a>
            </section>

        </div>
