        <div class="wrap">

            <section class="footer-links">
                <ul class="footer-links_primary cf">
                    <li>
                        <a href="http://github.com/heidsoft">我的Github</a>
                    </li>
                </ul>
                <ul class="footer-links_secondary cf">
                    <li>
                        <a href="https://www.linkedin.com/in/heidsoft">关于我</a>
                    </li>
                    <li>
                        <a href="mailto:heidsoft@sina.com">我的邮箱</a>
                    </li>
                </ul>
            </section>

            <section class="footer-oss">
                <h4>微博动态/h4>
                <p>
                   <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1910926212&verifier=badabc9f&dpc=1"></iframe>
                </p>
            </section>

        </div>
