<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="heidsoft">
    <meta name="author" content="heidsoft">
    <title>云计算与大数据</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1">微博:黑洞云</div>
        <div class="col-md-1">作者：黑洞</div>
    </div>
</div>
</body>
</html>